<h1 class="my-4 text-center">Gem Finder</h1>

<!-- routerLink directive tells Angular to which route to navigate next, when link is pressed.  -->
<!-- Value for this method can be a string representing relative or absolute path, -->
<!-- or an array where each value is a segment of the path  -->
<!-- To make a dynamic value, routerLink must be placed in square brackets [routerLink]= -->

routerLinkActive class checks if the route for this element is the active route
and, if it is, Angular will add an active class to the list of CSS classes in the DOM.
<nav class="nav nav-pills nav-fill">
  <a class="nav-link" routerLink="players" routerLinkActive="active">
    <i class="bi bi-people-fill"></i>
  </a>

  <a class="nav-link" routerLink="leaderboards" routerLinkActive="active">
    <i class="bi bi-trophy-fill"></i>
  </a>

  <a class="nav-link position-relative" routerLink="messages" routerLinkActive="active">
    <i class="bi bi-inbox-fill"></i>
    <span *ngIf="messageService.count()">&nbsp;({{ messageService.count() }})</span>
  </a>
</nav>

<!-- This tells Angular where to put the content of the route -->
<router-outlet></router-outlet>

<footer class="position-absolute bottom-0 start-0 w-100 my-3 text-center">
  <small class="fs-6">{{ appFooter }}</small>
</footer>
